* {
  font-family: Arial, Helvetica, sans-serif;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

th {
  font-weight: normal;
  background-color: hwb(170 34% 2%);
}
td {
  text-align: center
}

tr.dem {
  background-color: #9cbef1;
}

tr.repub {
  background-color: #faaaaa
}